* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #CFD8DC;
}
body main {
  padding: 20px;
}

nav {
  height: 60px;
  background-color: #455A64;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}
nav a:hover {
  background-color: #607D8B;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav svg {
  fill: #CFD8DC;
}
nav #sidebar-active {
  display: none;
}
nav .open-sidebar-button, nav .close-sidebar-button {
  display: none;
}

.logo1 {
  display: none;
  height: 6vh;
  margin-right: auto;
  margin-left: 10px;
}

.logo2 {
  height: 6vh;
  margin-right: auto;
  margin-left: 10px;
}

.footer {
  background-color: #455A64;
  padding: 50px 0;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .footer-row .footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer .container .footer-row .footer-links h4 {
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #607D8B;
  padding-bottom: 10px;
  display: inline-block;
}
.footer .container .footer-row .footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #CFD8DC;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer .container .footer-row .footer-links ul li a:hover {
  color: #FFFFFF;
  padding-left: 6px;
}

.social-media a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.social-media a:hover {
  background-color: #00C3FF;
}

.parrafo {
  line-height: 1.5;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #455A64;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  .logo2 {
    display: none;
  }
  nav .open-sidebar-button, nav .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  nav #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  nav #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  header .logo1 {
    display: block;
  }
  .footer-row {
    text-align: center;
  }
  .footer-row .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .links-container {
    right: -150%;
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
