/*    
DARK PRIMARY COLOR #455A64
LIGHT PRIMARY COLOR #CFD8DC
PRIMARY COLOR #607D8B
DIVIDER COLOR #BDBDBD
#FFFFFF
*/

/*
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #CFD8DC;
}

/* header {
    background-color: #455A64;
    color: #FFFFFF;
    padding: 1em;
}
nav{
    background-color: #455A64;
} */
/* header .logo{
    position: relative;
    max-width: 80px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
} */

/* nav ul li {
    margin: 0 15px;
}


nav ul li a{
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
} */

main {
    padding: 20px;
}



/* main {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
} */

.tittle{
    text-align: center;
}

.variedad{
    display: flex ;
    justify-content: center;
}
main h3 a{
  
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

/* .card{
    margin: 40px;
    width: 18.75rem;
    height: 25rem;
    overflow: hidden;
} */

/* .card img{
    width: 100%;
    height: 50%;

} */
/* bueno aca no supe como hacer para que quede tres arriba y tres abajo, voy a pobrar colocandolos en otro section, si no funciona me gustaria cuando tengan un tiempo explicarme como usted lo haria, gracias */
/* section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
} */
/* .card {
    margin: 10px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px
    border-radius: 8px;
    overflow: hidden;

}

.card img {
    width: 100%;
    height: 200px;
}

.card-info {
    padding: 16px;
}

.card-info h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.card-info p {
    color: #666;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
} */


.parrafo{
    line-height: 1.5; 
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.1em
}