.footer{
    background-color: map-get($colors, darkPrimary );
    padding: 50px 0;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        .footer-row{
            display: flex;
            flex-wrap: wrap;
            .footer-links{
                width: 25% ;
                // padding: 0 15px;
                h4{
                    font-size: 20px;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                    font-weight: 500;
                    border-bottom: 2px solid map-get($colors, primaryColor );
                    padding-bottom: 10px;
                    display: inline-block;
                }
                ul{
                    padding-left: 0;
                    li a{
                    font-size: 18px;
                    text-decoration: none;
                    color: map-get($colors, lightPrimary );
                    display: block;
                    margin-bottom: 15px;
                    transition: all .3s ease;
                        &:hover{
                            color: map-get($colors, white );
                            padding-left: 6px;
                        }
                    }       
                }
            }   

        }
    }
}

.social-media{
    a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
    &:hover{
        background-color: #00C3FF;
    }
    }
}
;
